.social
    a(href='#').social__item
        +iconSvg('vk','social__item-icon social__item-icon--vk')
    a(href='#').social__item
        +iconSvg('telegram','social__item-icon social__item-icon--telegram')
    a(href='#').social__item
        +iconSvg('fb','social__item-icon social__item-icon--fb')