.product-img-slider
    +iconSvg('arrow','product-img-slider__button product-img-slider__button--prev')
    .product-img-slider__items
        .product-img-slider__item
    +iconSvg('arrow','product-img-slider__button product-img-slider__button--next')