@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.header-checkbox {
  @include flex-row;
  align-items: center;
  &__item {
    margin-right: 15px;
  }
}
@media (max-width: 700px) {
    .header-checkbox {
        @include flex-column;
        flex-wrap: wrap;
        align-items: center;
        &__item {
            margin: 5px 0px;
        }
    }
}
