extends ../templates/visitor

block variables
    - var title = 'Vooy'

block content
    section.section.section--small
        .layout
            +breadcrumbs([{name: 'Главная', link: '/_index.html'}, {name: 'Тендеры', link: '#'}])
            +titleCount('Список тендеров','201')


    .filter
        section.section.section--small
            .layout
                .header-checkbox
                    .header-checkbox__item.filter__checkbox(data-filter='active')
                        +checkbox('Только активные')
                    .header-checkbox__item.filter__checkbox(data-filter='archive')
                        +checkbox('Только архивные')

        section.section.section--small
            .layout
                +tenderRowHeader({
                    imgTitle: 'Фото',
                    nameTitle: 'Наименование',
                    dateTitle: 'Дата создания',
                    numberTitle: 'Номер',
                    productCountTitle: 'Количество',
                    priceTitle: 'Стоимость',
                    statusTitle: 'Статус',
                    assessment: false,
                })

                .filter__item(data-filter='archive')
                    +tenderRow({
                        link: '/_tenders-archive.html',
                        imgSrc: 'images/examples/products-preview/products-preview-3.jpg',
                        name: 'Заводская дешевая горячая Распродажа летняя повседневная одежда.',
                        date: '24.02.2021',
                        number: '2345678',
                        productCount: '1 200',
                        price: '1 800',
                        textStatus: 'Архивный',
                        numberStatus: '1',
                        assessment: false,
                    })

                    .filter__item(data-filter='archive')
                        +tenderRow({
                            link: '/_tenders-archive.html',
                            imgSrc: 'images/examples/products-preview/products-preview-3.jpg',
                            name: 'Заводская дешевая горячая Распродажа летняя повседневная одежда.',
                            date: '24.02.2021',
                            number: '2345678',
                            productCount: '1 200',
                            price: '1 800',
                            textStatus: 'Архивный',
                            numberStatus: '2',
                            assessment: false,
                        })

                    .filter__item(data-filter='archive')
                        +tenderRow({
                            link: '/_tenders-archive.html',
                            imgSrc: 'images/examples/products-preview/products-preview-3.jpg',
                            name: 'Заводская дешевая горячая Распродажа летняя повседневная одежда.',
                            date: '24.02.2021',
                            number: '2345678',
                            productCount: '1 200',
                            price: '1 800',
                            textStatus: 'Архивный',
                            numberStatus: '3',
                            assessment: false,
                        })

                    .filter__item(data-filter='archive')
                        +tenderRow({
                            link: '/_tenders-archive.html',
                            imgSrc: 'images/examples/products-preview/products-preview-3.jpg',
                            name: 'Заводская дешевая горячая Распродажа летняя повседневная одежда.',
                            date: '24.02.2021',
                            number: '2345678',
                            productCount: '1 200',
                            price: '1 800',
                            textStatus: 'Архивный',
                            numberStatus: '4',
                            assessment: false,
                        })

                    .filter__item(data-filter='archive')
                        +tenderRow({
                            link: '/_tenders-archive.html',
                            imgSrc: 'images/examples/products-preview/products-preview-3.jpg',
                            name: 'Заводская дешевая горячая Распродажа летняя повседневная одежда.',
                            date: '24.02.2021',
                            number: '2345678',
                            productCount: '1 200',
                            price: '1 800',
                            textStatus: 'Архивный',
                            numberStatus: '5',
                            assessment: false,
                        })



