extends ../templates/visitor

block variables
    - var title = 'Vooy'

block content
    section.section.section--small
        .layout
            +breadcrumbs([{name: 'Главная', link: '/_index.html'}, {name: 'Список тендеров', link: '/_tenders-list-manufacturer.html'}, {name: 'Тендер 12345', link: '#'}])

    section.section.section--small
        .layout
            .tender-header
                .tender-header__main
                    .tender-header__main-title
                        .tender-header__main-title-name Тендер на товары
                        .tender-header__main-title-number №2345678
                        .tender-header__main-title-status
                            .tender-header__main-title-status-title.tender-header__main-title-status-title--gray Архивный
                            .tender-header__main-title-status-line
                                .status-line.status-line--4
                .tender-header__desc
                    .tender-header__desc-item
                        .tender-header__desc-item-name Cоздан:
                        .tender-header__desc-item-value 24.02.2020
                    .tender-header__desc-item
                        .tender-header__desc-item-name В реализации с:
                        .tender-header__desc-item-value 28.02.2020
                    .tender-header__desc-item
                        .tender-header__desc-item-name Завершен:
                        .tender-header__desc-item-value 10.03.2020


    section.section
        .layout
            .title-separator Покупатель
            +buyer({
                iconSrc: false,
                name: 'Петр Иванов'

            })

    section.section
        .layout
            .title-separator Тендер
            .border-block.offer
                +tenderRowOfferHeader({
                    imgTitle: 'Фото',
                    nameTitle: 'Наименование',
                    productCountTitle: 'Количество',
                    priceTitle: 'Стоимость',
                    termTitle: 'Срок реализации',
                    exampleTitle: 'Предоставим образец',
                    commentTitle: 'Комментарий'
                })

                +tenderRowOffer({
                    imgSrc: 'images/examples/products-preview/products-preview-5.jpg',
                    name: 'Синие джинсы',
                    productCount: '1 000',
                    price: '10 000',
                    term: '10',
                    example: true,
                    comment: 'Короткий комментарий',
                    productImages: [
                        'images/examples/product/big/product-1.jpg',
                        'images/examples/product/big/product-2.jpg',
                        'images/examples/product/big/product-3.jpg',
                        'images/examples/product/big/product-4.jpg',
                        'images/examples/product/big/product-5.jpg',
                        'images/examples/product/big/product-6.jpg',
                        'images/examples/product/big/product-7.jpg',
                    ]
                })

                +tenderRowOffer({
                    imgSrc: 'images/examples/products-preview/products-preview-1.jpg',
                    name: 'Заводская дешевая горячая Распродажа летняя повседневная одежда.',
                    productCount: '1 000',
                    price: '10 000',
                    term: '10',
                    example: false,
                    comment: 'Очень длинный комментарий в несколько строк с переносом на другие строки',
                    productImages: [
                        'images/examples/products-preview/products-preview-1.jpg',
                    ]
                })

    section.section
        .layout
            .title-separator Переговоры
            .border-block
                +chat({
                    exampleNumber: '2',
                    title: 'Переговоры с "Петр Иванов"',
                    form: false
                })