.reviews
    .reviews__desc
        .reviews__item
            .reviews__item-value 4.93
            +iconSvg('star','reviews__item-star')
        .reviews__count 34 отзыва
    .reviews__button.button Посмотреть отзывы