@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.status-line {
  height: 100%;
  width: 100%;

  &--1 {
    $activeColor: var(--gold-color);

    background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(25% - 4px),
            var(--white-color) calc(25% - 4px), var(--white-color) 25%,
            var(--light-gray-color) 25%, var(--light-gray-color) calc(50% - 4px),
            var(--white-color) calc(50% - 4px), var(--white-color) 50%,
            var(--light-gray-color) 50%, var(--light-gray-color) calc(75% - 4px),
            var(--white-color) calc(75% - 4px), var(--white-color) 75%,
            var(--light-gray-color) 75%, var(--light-gray-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
    );
  }

  &--2 {
    $activeColor: var(--gold-color);

    background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(25% - 4px),
            var(--white-color) calc(25% - 4px), var(--white-color) 25%,
            $activeColor 25%, $activeColor calc(50% - 4px),
            var(--white-color) calc(50% - 4px), var(--white-color) 50%,
            var(--light-gray-color) 50%, var(--light-gray-color) calc(75% - 4px),
            var(--white-color) calc(75% - 4px), var(--white-color) 75%,
            var(--light-gray-color) 75%, var(--light-gray-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
    );
  }

  &--3 {
    $activeColor: var(--middle-green-color);

    background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(25% - 4px),
            var(--white-color) calc(25% - 4px), var(--white-color) 25%,
            $activeColor 25%, $activeColor calc(50% - 4px),
            var(--white-color) calc(50% - 4px), var(--white-color) 50%,
            $activeColor 50%, $activeColor calc(75% - 4px),
            var(--white-color) calc(75% - 4px), var(--white-color) 75%,
            var(--light-gray-color) 75%, var(--light-gray-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
    );
  }

  &--4 {
    $activeColor: var(--light-blue-color);

    background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(25% - 4px),
            var(--white-color) calc(25% - 4px), var(--white-color) 25%,
            $activeColor 25%, $activeColor calc(50% - 4px),
            var(--white-color) calc(50% - 4px), var(--white-color) 50%,
            $activeColor 50%, $activeColor calc(75% - 4px),
            var(--white-color) calc(75% - 4px), var(--white-color) 75%,
            $activeColor 75%, $activeColor calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
    );
  }
}