mixin statusLine(number)
    if number == 1
        .status-line.status-line--1
    else if number == 2
        .status-line.status-line--2
    else if number == 3
        .status-line.status-line--3
    else if number == 4
        .status-line.status-line--4
    else if number == 5
        .status-line.status-line--5
