@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.status-line {
    height: 100%;
    width: 100%;

    &--1 {
        $activeColor: var(--gold-color);

        background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(20% - 4px),
            var(--white-color) calc(20% - 4px), var(--white-color) 20%,
            var(--extra-light-blue-color) 20%, var(--extra-light-blue-color) calc(40% - 4px),
            var(--white-color) calc(40% - 4px), var(--white-color) 40%,
            var(--extra-light-blue-color) 40%, var(--extra-light-blue-color) calc(60% - 4px),
            var(--white-color) calc(60% - 4px), var(--white-color) 60%,
            var(--extra-light-blue-color) 60%, var(--extra-light-blue-color) calc(80% - 4px),
            var(--white-color) calc(80% - 4px), var(--white-color) 80%,
            var(--extra-light-blue-color) 80%, var(--extra-light-blue-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
        );
    }

    &--2 {
        $activeColor: var(--gold-color);

        background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(20% - 4px),
            var(--white-color) calc(20% - 4px), var(--white-color) 20%,
            $activeColor 20%, $activeColor calc(40% - 4px),
            var(--white-color) calc(40% - 4px), var(--white-color) 40%,
            var(--extra-light-blue-color) 40%, var(--extra-light-blue-color) calc(60% - 4px),
            var(--white-color) calc(60% - 4px), var(--white-color) 60%,
            var(--extra-light-blue-color) 60%, var(--extra-light-blue-color) calc(80% - 4px),
            var(--white-color) calc(80% - 4px), var(--white-color) 80%,
            var(--extra-light-blue-color) 80%, var(--extra-light-blue-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
        );
    }

    &--3 {
        $activeColor: var(--middle-green-color);

        background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(20% - 4px),
            var(--white-color) calc(20% - 4px), var(--white-color) 20%,
            $activeColor 20%, $activeColor calc(40% - 4px),
            var(--white-color) calc(40% - 4px), var(--white-color) 40%,
            $activeColor 40%, $activeColor calc(60% - 4px),
            var(--white-color) calc(60% - 4px), var(--white-color) 60%,
            var(--extra-light-blue-color) 60%, var(--extra-light-blue-color) calc(80% - 4px),
            var(--white-color) calc(80% - 4px), var(--white-color) 80%,
            var(--extra-light-blue-color) 80%, var(--extra-light-blue-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
        );
    }

    &--4 {
        $activeColor: var(--middle-green-color);

        background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(20% - 4px),
            var(--white-color) calc(20% - 4px), var(--white-color) 20%,
            $activeColor 20%, $activeColor calc(40% - 4px),
            var(--white-color) calc(40% - 4px), var(--white-color) 40%,
            $activeColor 40%, $activeColor calc(60% - 4px),
            var(--white-color) calc(60% - 4px), var(--white-color) 60%,
            $activeColor 60%, $activeColor calc(80% - 4px),
            var(--white-color) calc(80% - 4px), var(--white-color) 80%,
            var(--extra-light-blue-color) 80%, var(--extra-light-blue-color) calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
        );
    }

    &--5 {
        $activeColor: var(--blue-color);

        background: linear-gradient(90deg,
            $activeColor 0%, $activeColor calc(20% - 4px),
            var(--white-color) calc(20% - 4px), var(--white-color) 20%,
            $activeColor 20%, $activeColor calc(40% - 4px),
            var(--white-color) calc(40% - 4px), var(--white-color) 40%,
            $activeColor 40%, $activeColor calc(60% - 4px),
            var(--white-color) calc(60% - 4px), var(--white-color) 60%,
            $activeColor 60%, $activeColor calc(80% - 4px),
            var(--white-color) calc(80% - 4px), var(--white-color) 80%,
            $activeColor 80%, $activeColor calc(100% - 4px),
            var(--white-color) calc(100% - 4px), var(--white-color) 100%,
        );
    }
}
