@mixin active-button-effect($border-radius:4px) {

  &:after {
    @include pseudo-absolute;
    @include absolute-fill;
    background: var(--middle-blue-color);
    z-index: -1;
    transform: scale(0.9);
    border-radius: #{$border-radius};
  }

  &:active:after {
    transform: scaleX(1.1) scaleY(1.3);
    opacity: 0;
  }
}

@mixin active-disabled-button-effect($border-radius:4px) {

  &:after {
    @include pseudo-absolute;
    @include absolute-fill;
    background: var(--red-color);
    z-index: -1;
    transform: scale(0.9);
    border-radius: #{$border-radius};
  }

  &:active:after {
    transform: scaleX(1.1) scaleY(1.3);
    opacity: 0;
  }
}


@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}
