@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.tenders-chat {

  &__button {
    position: relative;

    &--active:after {
      @include pseudo-absolute;
      @include absolute-center;
      width: calc(100% + 20px);
      height: calc(100% + 10px);
      background: var(--extra-light-blue-color);
      border-radius: 8px;
      z-index: -1;
    }
  }

  $active-button: '.tenders-chat__button--active';

  &__button-text {
    &--default {
    }

    &--active {
      display: none
    }

    #{$active-button} &--default {
      display: none
    }

    #{$active-button} &--active {
      display: flex
    }

  }

  &__wrapper {

  }

  $wrapper-in-row:'.tenders-chat__wrapper--in-row';

  &__content {
    width: 100%;
    height: auto;
    display: none;
    //opacity: 0;
    //visibility: hidden;

    position: relative;

    #{$wrapper-in-row} &:after {
      @include pseudo-absolute;
      width: calc(100% + 40px);
      background: var(--light-blue-color);
      left: -20px;
      bottom: 0;
      height: 1px;
    }

    &--active {
      display: block;
    }

    &--active-effect {
      //opacity: 1;
      //visibility: visible;
    }
  }
}