extends main

block variables

block page
    block header
        include ../blocks/header/header
    .wrapper
        block content

    block footer
        include visitor-modals
        include ../blocks/footer/footer