@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.section {
  margin-top: 43px;
  margin-bottom: 70px;

  &--small {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &--center {
    @include flex-row-center;
  }
}