.categories-preview
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-1.jpg').categories-preview__item-img
        .categories-preview__item-title Новые поступления
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-2.jpg').categories-preview__item-img
        .categories-preview__item-title Туфли #[br]и босоножки
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-3.jpg').categories-preview__item-img
        .categories-preview__item-title Последние#[br]размеры
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-4.jpg').categories-preview__item-img
        .categories-preview__item-title 100%#[br] шерсть
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-1.jpg').categories-preview__item-img
        .categories-preview__item-title Новые поступления
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-2.jpg').categories-preview__item-img
        .categories-preview__item-title Туфли #[br]и босоножки
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-3.jpg').categories-preview__item-img
        .categories-preview__item-title Последние#[br]размеры
    a(href='/_product-cart.html').categories-preview__item
        img(src='../images/examples/best-categories/categories-4.jpg').categories-preview__item-img
        .categories-preview__item-title 100%#[br] шерсть