@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px 0;

  &__item {
    font-size: 15px;
  }

  &__item-name {
    display: inline;
    color: var(--gray-color);
  }

  &__item-value {
    display: inline;
    color: var(--black-color);
  }

}

.pagination
{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;

    li{
        margin: 0 5px;
        background: var(--blue-color);
        color: var(--white-color);
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        padding: 0 15px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid var(--blue-color);
        position: relative;

        &.disabled{
            background: var(--white-color);
            a{
                color: var(--blue-color);
            }
        }
        &.active{
            background: var(--white-color);
            a{
                color: var(--blue-color);
            }
        }

        &:hover{
            background: var(--white-color);
            a{
                color: var(--blue-color);
            }
        }

        a{
            color: var(--white-color);
        }
    }

}

