// Exemple

.tabs
    .tabs__toggle-buttons
        .tabs__toggle-button.tabs__toggle-button--active Коллекция N1
        .tabs__toggle-button Коллекция N2
        .tabs__toggle-button Коллекция N3
    .tabs__toggle-items
        .tabs__toggle-item.tabs__toggle-item--active Content 1
        .tabs__toggle-item Content 2
        .tabs__toggle-item Content 3


.tabs
    #rrrr.tabs__toggle-123123123
        .tabs__toggle-button.tabs__toggle-button--active Коллекция N1
        .tabs__toggle-button Коллекция N2
        .tabs__toggle-button Коллекция N3
            .test
    .tabs__main-23423
        .tabs__toggle-item.tabs__toggle-item--active.tabs__toggle-item--active-effect Content 1
        .tabs__toggle-item Content 2
        .tabs__toggle-item Content 3