.product-cart
    .product-cart__title
        .product-cart__title-text Мужские джинсы, джинсы от производителя, потертые джинсовые брюки, высокоэластичные джинсы
        .product-cart__title-code Код товара: 4713581
    .product-cart__block.border-block
        .product-cart__img
            .product-cart__slider-wrapper
                +iconSvg('arrow','product-cart__slider-navigation-button product-cart__slider-navigation-button--prev')
                .product-cart__slider
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-1.jpg' data-preview-url='../../images/examples/product/big/product-1.jpg').product-cart__slide-img
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-2.jpg' data-preview-url='../../images/examples/product/big/product-2.jpg').product-cart__slide-img
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-3.jpg' data-preview-url='../../images/examples/product/big/product-3.jpg').product-cart__slide-img
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-4.jpg' data-preview-url='../../images/examples/product/big/product-4.jpg').product-cart__slide-img
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-5.jpg' data-preview-url='../../images/examples/product/big/product-5.jpg').product-cart__slide-img
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-6.jpg' data-preview-url='../../images/examples/product/big/product-6.jpg').product-cart__slide-img
                    .product-cart__slide
                        img(src='../../images/examples/product/small/product-7.jpg' data-preview-url='../../images/examples/product/big/product-7.jpg').product-cart__slide-img
                +iconSvg('arrow','product-cart__slider-navigation-button product-cart__slider-navigation-button--next')
            .product-cart__img-preview-wrapper
                img(src='../../images/examples/product/big/product-1.jpg').product-cart__img-preview

        .product-cart__desc
            .product-cart__price-block
                .product-cart__price-item
                    .product-cart__price-count 2 - 199 шт.
                    .product-cart__price-value 999 ₽
                .product-cart__price-item
                    .product-cart__price-count 200 - 499 шт.
                    .product-cart__price-value 850 ₽
                .product-cart__price-item
                    .product-cart__price-count >=500 шт.
                    .product-cart__price-value 600 ₽
            .product-cart__buttons-wrapper
                .product-cart__buttons
                    .product-cart__button
                        .product-cart__button-text Добавить в тендер
                        +iconSvg('tenders','product-cart__button-icon')
                    .product-cart__button.product-cart__button--gray
                        +iconSvg('heart','product-cart__button-icon')
                .product-cart__buttons-hint После публикации тендера поставщики предложат свои цены на товар

            .product-cart__hint
                +hint('Мы можем организовать доставку по Китаю и России, помочь с расстаможкой и в переговорах с поставщиком')

            .product-cart__tabs
                .tabs.tabs--small
                    .tabs__header
                        .tabs__toggle-nav
                            .tabs__toggle-nav-button.tabs__toggle-nav-button--prev
                                +iconSvg('arrow','tabs__toggle-nav-button-icon')
                            .tabs__toggle-nav-button.tabs__toggle-nav-button--next
                                +iconSvg('arrow','tabs__toggle-nav-button-icon')
                        .tabs__toggle-buttons
                            .tabs__toggle-button.tabs__toggle-button--active Характеристики
                            .tabs__toggle-button Описание
                    .tabs__toggle-items
                        .tabs__toggle-item.tabs__toggle-item--active.tabs__toggle-item--active-effect
                            .options
                                .options__item
                                    .options__item-name Состав:
                                    .options__item-value 100% хлопок
                                .options__item
                                    .options__item-name Цвет:
                                    .options__item-value Синий
                                .options__item
                                    .options__item-name Сезон:
                                    .options__item-value Круглогодичный
                                .options__item
                                    .options__item-name Пол:
                                    .options__item-value Мужские
                                .options__item
                                    .options__item-name Особенность:
                                    .options__item-value Антистатический
                                .options__item
                                    .options__item-name Назначение:
                                    .options__item-value Повседневные

                        .tabs__toggle-item
                            .product-cart__text Джинсы с пятью карманами в меру прилегающие и просторные, что позволяет чувствовать себя в них комфортно. Такие джинсы должны быть в гардеробе каждого мужчины. Главное отличие такого фасона - универсальность.
            .product-cart__footnote Информация о технических характеристиках и внешнем виде товара носит справочный характер и основывается на последних доступных сведениях от производителя