.categories-labels
    a(href='#').categories-labels__item Мужская одежда
    a(href='#').categories-labels__item Женская одежда
    a(href='#').categories-labels__item Детская одежда
    a(href='#').categories-labels__item Обувь
    a(href='#').categories-labels__item Косметика и парфюмерия
    a(href='#').categories-labels__item Домашний текстиль
    a(href='#').categories-labels__item Новинки
    a(href='#').categories-labels__item Сумки и аксессуары
    a(href='#').categories-labels__item Искусство и хоби
    a(href='#').categories-labels__item Спорт и активный отдых
    a(href='#').categories-labels__item Часы
    a(href='#').categories-labels__item Зоотовары
    a(href='#').categories-labels__item Электроника и цифровая техника