.main-navigation.layout
    .main-navigation__content
        .main-navigation__item
            .main-navigation__title Оставьте заявку на свой товар
            .main-navigation__desc Если в каталоге нет подходящего вам товара, вы можете оставить заявку,#[br]мы найдем подходящих вам поставщиков
            .main-navigation__button(data-modal-open='new-tender') Оставить заявку
        .main-navigation__item
            .main-navigation__title Выберите товар из каталога
            .main-navigation__desc В нашем каталоге более 10.000 товаров от проверенных поставщиков, выберите лучшие условия для себя!
            a(href='/_product-list.html').main-navigation__button.main-navigation__button--invert Перейти в каталог