.lead.border-block
    img(src='images/icons/illustrations/hands-box.png').lead__icon
    .lead__desc
        .lead__desc-title Не можете найти нужный вам товар?
        .lead__desc-text Оставьте заявку на свой товар, и мы поможем вам найти, заказать, привезти нужный вам товар в любом количестве!
    .lead__button.button Оставьте заявку