@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.main-banner {
  height: 219px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  display: block;

  &__background {
    position: absolute;
    @include absolute-fill;
    background: var(--light-blue-color);
  }

  &__background-el {
    position: absolute;
    @include absolute-fill;

    $animation-delay: 600;

    &--1 {
      width: 506px;
      background: url(/storage/images/components-assets/main-banner/img/main-banner-1.svg);
      background-repeat: no-repeat;
      animation-delay: #{$animation-delay * 1}ms;
    }

    &--2 {
      width: 750px;
      background: url(/storage/images/components-assets/main-banner/img/main-banner-2.svg);
      background-repeat: no-repeat;
      left: 480px;
      animation-delay: #{$animation-delay * 2}ms;
    }

    &--3 {
      width: 955px;
      background: url(/storage/images/components-assets/main-banner/img/main-banner-3.svg);
      background-repeat: no-repeat;
      animation-delay: #{$animation-delay * 3}ms;
    }

    &--4 {
      width: 1019px;
      background: url(/storage/images/components-assets/main-banner/img/main-banner-4.svg);
      background-repeat: no-repeat;
      left: 175px;
      animation-delay: #{$animation-delay * 4}ms;
    }

    &--5 {
      width: 728px;
      background: url(/storage/images/components-assets/main-banner/img/main-banner-5.svg);
      background-repeat: no-repeat;
      animation-delay: #{$animation-delay * 5}ms;
    }

    &--6 {
      width: 865px;
      background: url(/storage/images/components-assets/main-banner/img/main-banner-6.svg);
      background-repeat: no-repeat;
      left: 365px;
      animation-delay: #{$animation-delay * 6}ms;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    animation: blink 4s linear;
    animation-iteration-count: infinite;

  }

  &__content {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 2fr 1.35fr;
    padding: 23px 50px;
    align-items: center;
    height: 100%;

    &--ref {
      grid-template-columns: 1fr 1fr;
    }

    &:after {
      @include pseudo-absolute;
      width: 1px;
      height: calc(100% - 50px);
      left: 59%;
      top: 50%;
      transform: translateY(-50%);
      background: var(--light-blue-color);
    }

    &--ref:after {
      left: 45%;
    }
  }



  &__content-main {

  }

  &__content-title {
    font-weight: 700;
    font-size: 40px;
    color: var(--white-color);
    margin-bottom: 10px;
  }

  &__content-subtitle {
    color: var(--dark-blue-color);
    font-size: 20px;
    font-weight: 500;
  }

  &__content-subtitle-small {
    display: inline;
  }

  &__content-subtitle-big {
    display: inline;
    font-size: 33px;
  }

  &__content-natural {
    padding-left: 25px;
    display: grid;
    grid-gap: 30px;
  }

  &__content-natural-item {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-gap: 15px;
    margin-bottom: 10px;
    align-items: center;
  }

  &__content-natural-item-icon {
    width: 100%;
    height: 50px;
    fill: var(--white-color);
  }

  &__content-natural-item-percent {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
  }

  &__content-natural-item-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;
  }
}
