.main-banner.layout
    .main-banner__background
        .main-banner__background-el.main-banner__background-el--1
        .main-banner__background-el.main-banner__background-el--2
        .main-banner__background-el.main-banner__background-el--3
        .main-banner__background-el.main-banner__background-el--4
        .main-banner__background-el.main-banner__background-el--5
        .main-banner__background-el.main-banner__background-el--6
    .main-banner__content
        .main-banner__content-main
            .main-banner__content-title ТЕНДЕРНАЯ ПЛОЩАДКА
            .main-banner__content-subtitle
                .main-banner__content-subtitle-small БОЛЕЕ
                .main-banner__content-subtitle-big 10 000
                .main-banner__content-subtitle-small ПОСТАВЩИКОВ ИЗ РОССИИ И КИТАЯ
        .main-banner__content-natural
            .main-banner__content-natural-item
                +iconSvg('pencil','main-banner__content-natural-item-icon')
                .main-banner__content-natural-item-text ПРОВЕДИТЕ ТЕНДЕР НА ВАШ ТОВАР#[br]ИЛИ ВЫБЕРИТЕ ТОВАР ИЗ КАТАЛОГА
            .main-banner__content-natural-item
                +iconSvg('truck','main-banner__content-natural-item-icon')
                .main-banner__content-natural-item-text Доставим и растаможим ваш товар#[br]или доставляйте самостоятельно
