a(href='#').banner
    img(src='../images/examples/banner/banner.jpg').banner__img
    .banner__desc
        .banner__title Больше товаров#[br]Больше выгода!
        .banner__text Стоимость единицы товара снижается, в зависимости от его количества в тендере.