@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.banner {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

    &--product {
        //display: flex;
        //flex-direction: column;
        background: var(--light-blue-color);
        padding: 30px 20px;
        height: calc(100% + 20px);
        width: calc(100% + 20px);
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 12px;
        color: var(--white-color);

        display: grid;
        grid-template-rows: 1fr 2fr;
    }

    &__img {
        position: absolute;
        display: block;
        @include absolute-fill;
        object-fit: cover;
        object-position: center center;
    }

    &__desc {
        position: absolute;
        z-index: 2;
        background: var(--middle-green-color);
        padding: 30px 20px;
        color: var(--white-color);
        left: 0;
        bottom: 50px;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 18px;
    }

    &__button {
        border-radius: 5px;
        border: 1px solid var(--blue-color);
        background: var(--blue-color);
        color: var(--white-color);
        font-weight: 500;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 56px;
        cursor: pointer;
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: var(--middle-blue-color);
            z-index: -1;
            transform: scale(0.9);
            border-radius: 4px;
        }
        &:hover{
            color: var(--blue-color);
            background: var(--light-blue-color);
        }
    }
}
